/* custom.css */
.bg-dot-black {
  background-size: 20px 20px; /* Adjust the size to increase/decrease the dot size */
  background-image: radial-gradient(circle, black 2px, transparent 2px);
}

.bg-dot-white {
  background-size: 20px 20px; /* Adjust the size to increase/decrease the dot size */
  background-image: radial-gradient(circle, white 2px, transparent 2px);
}
